.header{
    background: #3b5998;
    background-image: linear-gradient(to top, #3b5998 , #446abd);
    width: 100%; 
    height:100px;
    border: solid black 1px;
}

.logo{
    width: 50%;
    color: white;
    text-align: center;
    padding-top: 30px;
    /*margin-left: 90px;*/
    float:left;
    font-family: inherit;
}

.login{
    padding-top: 20px;
    width: 49%;
    float:left;
}
.clear{
    clear:both;
}


.logo-text{
    text-decoration: none;
    color: white;
    /*width: 50px;
    font-family: inherit;
    cursor: pointer;
    font-style: normal;
    text-align: normal;
    float: left;
    padding-left : 90px;*/
    font-size: 50px;
    font-weight: bold;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-right: 20px;
    padding-right: 100px;
    position: static;
    left: 11%;
    top: 25px;
}


.login-form{
    color:white;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-left : 90px;
    padding-left : 40px;
    height: 30px;
    width: 55%;
    line-height: 18px;
}

.form-text{
    border: 1px solid black;
    height: 22px;
}

.forgot{
    text-decoration: none;
    color:white;
    height: 40px;
}

body{
    margin: 0;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
}

.form-btn{
    background:#3b5998; 
    cursor: pointer;
    color: white;
    height: 30px;
    width: 100%;
    border-radius: 4px;
    border: rgb(83, 137, 236) solid 5 px;
    font-weight: bold
}

.section1{
    width: 30%;
    height: 150px;
    float: left;
}
.section2{
    width: 50%;
    height: 150px;
    float: left;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif;
}

#divh1{
    color:#1d2129;
    font-weight: bold;
    letter-spacing: normal;
    display: block;
    font-size: 50px;
    align-content: center ;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif;
    font-weight: bold;
    letter-spacing: normal;
}
#divh2{
    font-weight: lighter;
    letter-spacing: normal;
    color: #4b4f56;
    font-size: 28px;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif;
    font-weight: normal;
    letter-spacing: normal;
}

.content-left{
width: 30%;
    height: 500px;
    float: left;
}
.content-middle{
    width: 50%;
        height: 500px;
        float: left;
    }

.content-right{
    width: 20%;
    height: 700px;
    float: left;
}
.container2{
    background: #d5d8dd;
    height: 700px;
}

.form-body{
    width: 100%;
    height: 800px;
    /*border: solid 1px black; */
    margin:auto;
}
 
#fname{
    float:  left;
    width: 35%;
    height: 40px;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #ccd0d5;
    border-color: #bdc7d8;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    border-radius: 10px;
}
#lname{
    box-align: center;
    float: left;
    width: 35%;
    height: 40px;
    margin-left: 15px;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    border: 1px solid #ccd0d5;
    border-color: #bdc7d8;
    font-size: 20px;
    text-align: left;
    font-weight: normal;
    border-radius: 10px;
}

#phone{
    margin: 20px 0px 20px 0px;
    box-align: center;
    float: left;
    width: 74.5%;
    height: 40px;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    border: 1px solid #ccd0d5;
    border-color: #bdc7d8;
    font-size: 20px;
    text-align: left;
    font-weight: normal;
    border-radius: 10px;
}

#passwrd{
    /*margin: 20px 0px 20px 0px;*/
    box-align: center;
    float: left;
    width: 74.5%;
    height: 40px;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    border: 1px solid #ccd0d5;
    border-color: #bdc7d8;
    font-size: 20px;
    text-align: left;
    font-weight: normal;
    border-radius: 10px;
}

.bday-text{
    margin: 10px 0px 10px 0px;
    float: left;
    width: 75.4%;
    height: 20px;
    padding: 8px 10px 0px 10px;
    color: #90949c;
    font-size: 16px;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    border: solid 1px transparent;
}

#birthday{
    /*margin: 5px 0px 5px 0px;*/
    float: left;
    width: 40%;
    height: 20px;
    padding: 8px 10px 8px 10px;
    color: #90949c;
    font-size: 16px;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    border: solid 1px transparent;  
}

.g1{
float: left;
width: 30%;
height: 20px;
color: black;
font-size: 14px;
font-weight: normal;
font-size: 20px;
border: 1px solid transparent;
display: flex;
margin-block: 0px 0px 10px 10px;
text-align: center;
}

.p-content{
    float: left;
    margin-top: 20px;
    color: #777;
    font-size: 11px;
    width: 500px;
    border: 1px solid transparent;
    text-align: left;
}

.sign-btn{
    float: left;
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    font-size: 20px;
    height: 40px;
    width: 224px;
    text-align: center;
    font-weight: normal;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
    letter-spacing: normal;
    margin-top: 10px;
    margin-bottom: 10px;
    
}